.ImgRotate{
    float: center;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center
}
.ImgRotateImg{
    float: center;
    height: 50%;
    width: 50%;
    margin: auto auto;
    border-radius: 50% 50%;
}