.ImgRotate{
    float: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center
}
.ImgRotateImg{
    float: center;
    height: 120px;
    width: 120px;
    margin: auto auto;
    border-radius: 50% 50%;
}