*{
  margin: 0;
  padding: 0;
}
body{
  position: relative;
}
/*button*/
.buttonTabbarTrue{
  height: 42px;
  width: 120px;
  font-family: Impact, fantasy;
  font-size: 25px;
  border: 0 ;
  outline: none;
  margin-left: 20px;
  border-radius: 15px 15px 0px 0px;
  background: rgba(128, 128, 128, 0.5);
  color: white;
}
.buttonTabbarFalse{
  height: 42px;
  width: 120px;
  font-family: Impact, fantasy;
  font-size: 25px;
  border-radius: 15px 15px 0px 0px;
  border: 0 ;
  outline: none;
  margin-left: 20px;
  text-shadow: 0 0 0.2em gray, 0 0 0.2em white,
  0 0 0.2em black;
  background: rgba(128, 128, 128, 0);
}

.buttonSearch{
  height: 30px;
  width: 30px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 30px;
  outline: none;
}
.buttonList{
  height: 40px;
  width: 40px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  outline: none;
  margin-left: 10px;
}

/*组件*/
.tabbar{
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 50px;
  width: 100%;
  height: 41px;
  border-bottom: 1.5px rgba(128, 128, 128, 0.3) solid;
}

.search{
  position: absolute;
  margin-left: 700px;
  margin-bottom: -8px;
  display: flex;
  flex-direction:row;
}
/*.search:hover>input{
  display: block;
  width: 150;
}*/

.MusicMuseumTop{
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  
}

/*其他*/
input{
  /*display: none;*/
  border: 0;
  border-bottom: 1px solid;
  font-size: 20px;
  transition:width 10s linear;
}

h1{
  font-family: Chalkduster, fantasy;
  width: 400px;
  margin-bottom: 30px;
}

.buttonImg{
  width: 25px;
  height: 25px;
  border-radius: 50% 50% 50% 50%;  
}
.container {
  margin:50px auto;

}
.bar-unfill {
  display:block;
  background:rgb(0, 0, 0);
  width:100%;
  border-radius:8px
}
.bar-fill {
  display:block;
  background:white;
  box-shadow: 0 0 0.8em black, 0 0 0.8em black,
  0 0 0.8em black;
  border-radius:8px;
}

/*songList*/
.song{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
}
.songimg{
  float: left;
  border-radius: 8px;
}
.songText{
  float: left;
  width: 150px;
	text-align: left;
	margin-left: 100px;
	margin-top: 10px;
}
