.ListItem{
  float: left;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: auto;
}
.songText{
  float: left;
  width: 35%;
  height: 80%;
  text-align: left;
}
.buttonList{
  float: right;
  height: 100%;
  width: 5%;
  border: 0;
  background: rgba(0, 0, 0, 0);
  outline: none;
  margin-right:5%;
}
