.Lrc{
    transition: 0.7s;
    width: 100%;
    text-align: center;
    background-color: black;
}

.Lrc-1{
    transition: 0.7s;
    color: rgba(255, 255, 255, 0.187);
    font-size: 30px;
    margin: 10px;
}

.Lrc-2{
    transition: 0.7s;
    color: #ccff00;
    font-size: 35px;
    margin: 10px;
}