.Lrc{
    transition: 0.7s;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow:auto;
}

.Lrc-1{
    transition: 0.7s;
    color: gray;
    font-size: 30px;
    margin: 10px;
}

.Lrc-2{
    transition: 0.7s;
    color: white;
    text-shadow: 0 0 0.5em pink, 0 0 0.5em pink,
    0 0 0.5em black;
    font-size: 35px;
    margin: 10px;
}