.myMusic{
  position: fixed;
}
.myMusicTop{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px
  }
.tabbarMyMusic{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 10px;
  }
.myMusicBody{
  display: flex;
  flex-direction: row;
}
.player{
  display: flex;
  flex-direction: column;
  justify-content: center
}
.myMusicList{
  height: 300px;
  overflow-y: scroll
}