
.search{
    display: flex;
    flex-direction: column;   
  }
.searchTop{
    background-color:white;
    top: 0;
    bottom: -300;
    left: 0;
    right: 0;
    height: 300px;
    widows: 100px;
  }
.searchTopBox{
    width: 100%;
    height: 200px;
    background-size: 100% 100%;
    background-color: rgba(255, 192, 205, 0.2);
  }
.searchInputBox{
    position: absolute;
    width: 750px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-left:200px;
    margin-top: 60px;  
  }
.searchTopInput{
    width: 600px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin-left: 100px;
    font-size: 20px;
    outline: none;
  }
.searchList{
    width: 100%;
    margin-top: 30px;
  }