.tabbar{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 60px;
    border-bottom: 1.5px white solid;
    box-shadow: 0 2px 0 rgba(255, 192, 204, 0.228);
    background-color: rgb(255, 255, 255);
    text-shadow: 0 0 0.5em pink, 0 0 0.5em pink,
    0 0 0.5em pink;
  }
  .PFTMusic{
    position: absolute;
    font-family: Chalkduster, fantasy;
    font-size: 40px;
    width: 400px;
    margin-left: 20px;
  }
  .buttonTabbarTrue{
    position: absolute;
    height: 60px;
    width: 120px;
    font-family: Impact, fantasy;
    font-size: 25px;
    border: 0 ;
    outline: none;
    margin-left: 400px;
    border-radius: 15px 15px 0px 0px;
    color:white;
    text-shadow: 0 0 0.5em pink, 0 0 0.5em pink,
    0 0 0.5em rgba(0, 0, 0, 0.5);
  }
  .buttonTabbarFalse{
    position: absolute;
    height: 60px;
    width: 120px;
    font-family: Impact, fantasy;
    font-size: 25px;
    border-radius: 15px 15px 0px 0px;
    border: 0 ;
    outline: none;
    margin-left: 550px;
    color:white;
    text-shadow: 0 0 0.5em pink, 0 0 0.5em pink,
    0 0 0.5em rgba(0, 0, 0, 0.5);
  }